body {
    font-family: sans-serif;
    background-color: #f1f5f9;
}

h1 {
    text-align: center;
    margin-bottom: 3rem;
    color: #0f172a;
}

button {
    font-size: 1rem;
    text-transform: capitalize;
    font-weight: 700;

    padding: 0.25rem 0.75rem;
    border-radius: 0.25rem;
    border: 2px solid #71717a;

    color: #71717a;
    background-color: transparent;

    cursor: pointer;
    transition:
        background-color 75ms,
        color 75ms,
        transform 40ms;
}

button:hover {
    color: white;
    background-color: #71717a;
}

button:active {
    background-color: #52525b;
    border-color: #52525b;
    transform: scale(0.95);
}

.container {
    display: flex;
}

.game-container {
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 50rem;
    margin: 0 auto;
}

.game-ui {
    align-self: center;

    display: flex;
    gap: 0.5rem;
    justify-content: center;
    flex-wrap: wrap;
}

.game-timer-display {
    font-family: monospace;
    display: inline-block;
    min-width: 6ch;
    text-align: end;
}

.game-field {
    --width: 10;
    --height: 10;

    display: grid;
    grid-template-columns: repeat(var(--width), minmax(1.25rem, 1fr));
    grid-template-rows: repeat(var(--height), minmax(1.25rem, 1fr));

    width: 100%;
    /* 40rem is the max height */
    max-width: calc(40rem / var(--height) * var(--width));
    aspect-ratio: var(--width) / var(--height);
    margin: 0 auto;
    margin-top: 4rem;
    position: relative;
}

.game-state-container {
    font-size: 1.125rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    top: 0;
    transform: translate(0, -100%);
    width: 100%;
    padding: 0.5rem 0;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    transition:
        transform 100ms;
}

.cell.opened {
    cursor: default;
}

.cell-content {
    position: relative;
    width: 90%;
    height: 90%;
    border-radius: 0.25rem;

    background-color: #cbd5e1;

    pointer-events: none;
}

.cell-cover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.25rem;

    background-color: #334155;

    pointer-events: none;
    transition:
        background-color 75ms;
}

.cell:hover .cell-cover {
    background-color: #475569;
}

.cell.active {
    transform: scale(0.75);
}

.cell.opened .cell-cover {
    background-color: transparent;
}

.sprite {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    height: 60%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}
